*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
header img{
    width: 30em;
    height: auto;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    border: 1px #8A8070;
    border-style: solid none;
    padding-top: 10px;
    padding-bottom: 10px;

}
header li a{
    text-decoration: none;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
}
header li a:hover{
    color: #7ABA96;
}
article{
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin: 20px;
    margin-left: 25%;
    width: 38em;
    height: auto;
}
article img{
    width: 38em;
    padding-bottom: 10px;
    height: auto;
}
article p{
    padding: 10px 0px 10px 0px;
}
article p:nth-child(3){
    padding-top: 0px;
    color: grey;
}
aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 10em;
    padding-left: 1%;
}
.sobre img{
    width: 10em;
    height: auto;
    margin: 15px 0px 15px 0px;
}
.sobre p{
    text-align: justify;
    width: 15rem;
    margin-left: 1ch;
    color: grey;
}
.libro{
    background-color: lightgrey;
    padding: 10px
}
.libro p{
    text-align: justify;
    width: 15rem;
    color: grey;
}
aside a{
    text-decoration: none;
    color: black;
    background-color: #7ABA96;
}
footer{
    position: absolute;
    top: 100%;
    width: 100%;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0%;
    list-style: none;
    background-color: black;
    padding: 20px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
footer ul li a:hover{
    color: #7ABA96;
}